*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: font1;
  src: url(./fonts/RobotoCondensed-Bold.ttf);
}
@font-face {
  font-family: font2;
  src: url(./fonts/Lobster-Regular.ttf);
}
@font-face {
  font-family: font3;
  src: url(./fonts/RobotoCondensed-Light.ttf);
}
body{
  background-image: url(./images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: font1;
}
.name{
  color: white;
}
.tabs{
  color: rgb(255, 255, 255);
  font-family: font3;
  font-size: 14px;
}
.title{
  font-family: font1;
  color: white;
  font-size: 30px;
}
.subtitle{
  color: rgb(255, 255, 255);
  font-family: font3;
  font-size: 15px;
}
button{
  width: 250px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.0);
  font-family: font1;
  font-size: 20px;
  color: #ED9B1C;
  border: 2px #ED9B1C solid;
}
.name{
  position: absolute;
  top: 30px;
  left: 90px;
}
.home{
  position: absolute;
  top: 30px;
  left: 800px;
}
.about{
  position: absolute;
  top: 30px;
  left: 1000px;
}
.contact{
  position: absolute;
  top: 30px;
  left: 1200px;
}
.menu{
  position: absolute;
  top: 30px;
  left: 1400px;
}
.title{
  position: absolute;
  top: 200px;
  left: 90px;
  font-size: 50px;
}
.subtitle{
  position: absolute;
  top: 350px;
  left: 90px;
}
.button{
  position: absolute;
  top: 475px;
  left: 90px;
  height: 100px;
}
.name{
  color: #ED9B1C;
}